<!-- views/partials/footer.ejs -->
<footer class="footer" id="foot">
    <div class="container-absolute" >
        <p class="text-left text-muted"> © Copyright 2017 <a href="http://www.rp.edu.sg/COI-SCM.aspx">RP COI-SCM</a></p>
    </div>
</footer>