<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-brand navbar-left" id="navLeft">
        <button class="w3-button w3-xlarge" id="listBtn"><i class="fa fa-list" aria-hidden="true"></i></button>
    </div>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <i class="fa fa-pie-chart"></i>
				Haulier Performance Dashboard
            </a>
        </div>
		<div class="nav navbar-nav pull-right">
			<a class="navbar-brand" href="/">
                <i class="fa fa-user"></i>
				<%=userInfo%>
			</a>
        </div>
    </div>
</nav>