<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <i class="fa fa-pie-chart"></i>
				 Haulier Performance Dashboard
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/about">About</a></li>
        </ul>

    </div>
</nav>