<!-- views/partials/scripts.ejs -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap JS File -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Chart JS file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<!--Date manipulation with Moment.JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
<!--Toggle button script Bootstrap-->
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script>
	var dataArray = []
	var dataArrFence = []
	var dataArrayFence = []
	var speedConstant = 8;
	var currentDate = new Date();
	var vehiclesArr = [];
	var teamsArr = [];
	var vehicleUsageArr = [];
	var clickCount = 0;
	var someData = "";
	var stationaryVal = "";
	refCount = 0
	var isComplete = false;
	var isAlsoComplete = false;
	var totalStationaryData = 0;
	var port = 9090;
	/* 
	function callAll(){

	getSingleVehicleCharts();
	getCompareVehicleCharts();
	getTeamVehicleCharts()
	} */
	
	function nullCheck(data){
		var isNull = true;
		for(var i=0;i<data.length;i++){
			if(data[i] != null){
				isNull = false;
			}
		}
		return isNull;
	}
	
	function getSingleVehicleCharts(){
		$('#loader').show();
		$('#overlay').show();
		
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown").value;
		if(team.length>0){
			getTeamVehicleCharts();
/* 			getUtilTimeTeam();
			getMoveTimeTeam();
			getServiceAreasTeam();
			getTravelDistanceTeam(); */
			terminateLoader();
			var isChecked = document.getElementById("compareChkBox").checked;
			if(isChecked){
				getCompareVehicleCharts();
				terminateLoader();				
			}
		}else{
			var errorMsg = "No data for this selection"
			setErrorMessage(errorMsg);
			terminateLoader();
			
		}
		
		//getVehicleResources();
	}
	
	function getTeamVehicleCharts(){
		getUtilTimeTeam();
		getMoveTimeTeam();
		getServiceAreasTeam();
		getTravelDistanceTeam();
		getSpecificFenceAreas();
		//getVehicleResourcesTeam();
	}
	
	function getCompareVehicleCharts(){
		getUtilTimeTeamComp();
		getMoveTimeTeamComp();
		getServiceAreasTeamComp();
		getTravelDistanceTeamComp();
	}
	
	function loadscreenKiller(oneComplete,twoComplete){
		if(oneComplete && twoComplete){
			terminateLoader();	
		}
	}

	 
	function terminateLoader(){
		$('#loader').hide();
		$('#overlay').hide();
	}
	
	function setErrorMessage(newMsg){
	var address = 'http://dev.logistics.lol:' + port + '/setErrorMsg/' + newMsg;
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) { 
			},
			complete: function(){	
				getErrorMessage();
			}
		});
	}
	
		$('#myFile').bind('change', function() {

		  //this.files[0].size gets the size of your file.
		  alert(this.files[0].size);

		});
			
	function checkChartDataExists(vehicle,dateStart,dateEnd){
	var address = 'http://dev.logistics.lol:' + port + '/checkChartData/vehicle/' + vehicle +"/dateStart/" + dateStr + "/dateEnd/" + dateEnd;
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) { 
			},
			complete: function(){	
				getErrorMessage();
			}
		});
	}
	
	function getErrorMessage(){
	var result = "";
	var address = 'http://dev.logistics.lol:' + port + '/getErrorMsg/';
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) {
				result = data;

			},
			complete: function(){
				var div = document.createElement('div');
				div.setAttribute('class', 'alert alert-danger');
				div.id = "errorDiv";
				div.innerHTML = result;
				div.style.fontWeight="Bold";
				document.body.appendChild(div);
				
				//<div class="alert alert-success" id="errorDiv"><strong></strong></div>
				
							
			}
		});
	}
	
	function getVehicles(){
	var address = 'http://dev.logistics.lol:' + port + '/vehicles/';
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) {  
				vehiclesArr = [];
				for(var i=0;i<data.length;i++){
					var veh = data[i].plate_num;
					vehiclesArr.push(veh);
				}	
			},
			complete: function(){
				populateVehicles();
			}
		});
	}
	
	function getTeams(){
	var address = 'http://dev.logistics.lol:' + port + '/teams/';
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) { 	
		//NOTE: These are team objects not vehicles! 			
				vehiclesArr = [];
				for(var i=0;i<data.length;i++){
					var veh = data[i].team;
					vehiclesArr.push(veh);
				}	
			},
			complete: function(){
				populateVehicles();
			}
		});
	}
	
	function getCompanies(){
	var address = 'http://dev.logistics.lol:' + port + '/companies/';
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) { 
				//NOTE: These are company objects not vehicles! 
				vehiclesArr = [];
				for(var i=0;i<data.length;i++){
					var veh = data[i].company;
					vehiclesArr.push(veh);
				}	
			},
			complete: function(){
				populateVehicles();
			}
		});
	}
	
	
	

	function getVehiclesForProfile(){
	var vehsForProfile = "";
	var address = 'http://dev.logistics.lol:' + port + '/vehiclesInTeam/';
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) {  
				vehForProfile = data;
			},
			complete: function(){
				populateVehiclesWithTeam(vehForProfile);
			}
		});
	}
	
	function populateVehiclesWithTeam(vehForProfile){
		e = document.getElementById("lstBox3");
			for(var i=0;i<vehForProfile.length;i++){
				var vehDetails = vehForProfile[i];
				var opt = document.createElement("option");
				opt.value= vehDetails.id;
				opt.innerHTML = vehDetails.plate_num + " - " + vehDetails.team; 
				e.appendChild(opt);

			}
	}
	
	/* function addTeam(){
		var valuesSelected = $('#lstBox2').text();
		//$("#lstBox2 :selected").remove();
		var address = 'http://dev.logistics.lol:' + port + '/teamAssign/';
		$.ajax({
			url : address,
			data: {teamAssign: valuesSelected},
			type : 'POST',
			dataType:'json',
			success : function(data) {  
				console.log(data);
			}
		});
	}  */
	
	function selectAllItems(){
        $('#lstBox2 option').prop('selected', true);
	}
	
	function removeTeam(){
		var valuesSelected = $('#lstBox3').val();
		$("#lstBox3 :selected").remove();
		var address = 'http://dev.logistics.lol:' + port + '/teamRemove/';
		$.ajax({
			url : address,
			data: {teamRemove: valuesSelected},
			type : 'POST',
			dataType:'json',
			success : function(data) {  

			},
			complete: function(){
				location.reload();
			}
		});
	} 

	
	function getVehicleTeams(){
	var address = 'http://dev.logistics.lol:' + port + '/teams/';
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) {  
				teamsArr = [];
				for(var i=0;i<data.length;i++){
					var veh = data[i].team;
					teamsArr.push(veh);
				}
				
			},
			complete: function(){
				populateTeams();
			}
		});
	}
	
	function getNoTeamVehicles(){
		someData = "";
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/getNoTeamVehicles',
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				populateVehiclesWithNoTeam(someData);
			}
		});
	}
	
	function populateVehiclesWithNoTeam(vehForProfile){
		e = document.getElementById("lstBox1");
			for(var i=0;i<vehForProfile.length;i++){
				var vehDetails = vehForProfile[i];
				var opt = document.createElement("option");
				opt.value= vehDetails.id;
				opt.innerHTML = vehDetails.plate_num; 
				e.appendChild(opt);

			}
	}

	function showCompareStatus(){
	var isChecked = "";
		if($('body').is('.col')){
			isChecked = document.getElementById("compareChkBox").checked;	
		}
		//console.log(isChecked);
		if(isChecked){
			$("#row2ID").show();
			$('#vhDD2').show();
			$("#vehicle-dropdown").change(function () {
				$("#vehicle-dropdown-2")
					.find("option")
					.hide()
					.not("option[value*='" + this.value + "']").show();
					
				

				$("#vehicle-dropdown-2").val(
					$("#lvehicle-dropdown-2").find("option:visible:first").val());

			}).change(); 
		}else{
		//console.log(isChecked);
			$("#row2ID").hide();
			$('#vhDD2').hide();
		}
	}
	
	
	function populateVehicles(){
	var e = "";
	var e2 = "";
	var isProfile = false;
		if($('body').is('.col')){
			e = document.getElementById("vehicle-dropdown");
			e2 = document.getElementById("vehicle-dropdown-2");
		}
		for(var i=0;i<vehiclesArr.length;i++){
			if(vehiclesArr[i]!== ""){
				var opt = document.createElement("option");
				var opt2 = document.createElement("option");
				opt.value= vehiclesArr[i];
				opt2.value= vehiclesArr[i];
				opt.innerHTML = vehiclesArr[i]; 
				opt2.innerHTML = vehiclesArr[i]; 
				e.appendChild(opt);
				e2.appendChild(opt2);
			}
		}
	}
	
/* 	function populateTeams(){
	var e = "";
		if($('body').is('.team')){
			e = document.getElementById("team-dropdown");
		}
		for(var i=0;i<teamsArr.length;i++){
			var opt = document.createElement("option");
			opt.value= teamsArr[i];
			opt.innerHTML = teamsArr[i]; 
			e.appendChild(opt);
		}
	} */
	
	//DO NOT DELETE - PART OF ADD TEAMS FROM SELECT MULTIPLE 15-01-18
	function assignToHidden(){
		$('#lstBox2 option').prop('selected', true);
		var allVehicles = $('#lstBox2 option').text();
		$('#vehicleHidden').val(allVehicles);
	}
	
	assignToHidden();
	
	function getToday(){
		var today = new Date();
		var todayDate = "";
		var tmrDate = "";
		var e = document.getElementById("filterCal");
		var f = document.getElementById("filterCal2");
		var dd = (today.getDate() < 10 ? '0' : '') + today.getDate();
		var ddTmr = (today.getDate() < 10 ? '0' : '') + (today.getDate()+1);
		var MM = ((today.getMonth() + 1) < 10 ? '0' : '') + (today.getMonth() + 1);
		var yyyy = today.getFullYear();
		if(dd == "010"){
			todayDate = yyyy + "-" + MM + "-" + dd.substr(1,3);
		}else{
			todayDate = yyyy + "-" + MM + "-" + dd;
		}
		if(ddTmr == "010"){
			tmrDate = yyyy + "-" + MM + "-" + ddTmr.substr(1,3);
		}else{
			tmrDate = yyyy + "-" + MM + "-" + ddTmr;
		}

		e.value = todayDate;
		f.value = tmrDate;
	}

	$(function(){
		if($('body').is('.col')){
		$('#row2ID').hide();
		$('#vhDD2').hide();
		$('#loader').hide();
		$('#overlay').hide();
			getVehicles();
			getTeams();
			getCompanies();
			getToday();
		}
		if($('body').is('.profile')){
			$('#loader').hide();
 			/*getVehicles();
			getToday(); */
			getVehiclesForProfile();
			getNoTeamVehicles();	
		}
		if($('body').is('.vehicle-profile')){
			$('#loader').hide();
			getVehicleProfile();
		}
		if($('body').is('.team')){
			$('#loader').hide();
			getVehicleTeams();
			getToday();
		}
	
	});
	
	function w3_open() {
		document.getElementById("bodyID").style.marginLeft = "15%";
		document.getElementById("mySidebar").style.width = "15%";
		document.getElementById("mySidebar").style.display = "block";
	}
	function w3_close() {
		document.getElementById("bodyID").style.marginLeft = "0%";
		document.getElementById("mySidebar").style.display = "none";
	}
	
	$(function(){
	var count = 0;
		$( "#listBtn" ).click(function() {
			$( "#mySidebar" ).toggle("slow");
			count++;
			if(count%2!=0){
				w3_open();
			}else{
				w3_close();
			}
		});
	});
	function getVehicleProfile(){
	var vehForProfile = "";
	var address = 'http://dev.logistics.lol:' + port + '/vehicles/';
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) {  
				vehForProfile = data;
			},
			complete: function(){
				getTeamsForProfile(vehForProfile);
			}
		});
	}
	
	function getTeamsForProfile(vehicles){
	var teams = "";
	var address = 'http://dev.logistics.lol:' + port + '/teams/';
		$.ajax({
			url : address,
			type : 'GET',
			dataType:'json',
			success : function(data) {  
				teams = data;
			},
			complete: function(){
				getDataForVehicleProfile(vehicles,teams);
			}
		});
	}
	
	function getDataForVehicleProfile(vehForProfile,teamForProfile){
		e = document.getElementById("vehicle-dropdown-vp");
		for(var i=0;i<vehForProfile.length;i++){
			var vehDetails = vehForProfile[i];
			if(vehDetails !== ""){
				var opt = document.createElement("option");
				opt.value= vehDetails.plate_num;
				opt.innerHTML = vehDetails.plate_num; 
				e.appendChild(opt);
			}

		}
		for(var i=0;i<teamForProfile.length;i++){
			var teamDetails = teamForProfile[i];
			var opt = document.createElement("option");
			var team = teamDetails.team;
			var teamStr = team.trim();
			if(teamStr !== ""){
				opt.value= teamDetails.team;
				opt.innerHTML = teamDetails.team; 
				e.appendChild(opt);
			}
		}
	}

	
	//START TEAM HERE
	
	function getUtilTimeTeam() {
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/workTimeTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
					var work_time = someData[0].work_time;
					var workByHour = (work_time/60).toFixed(2);
					var nonWorkByHour = (24-workByHour).toFixed(2);
					var workData = [];
					workData.push(work_time);
					var isNull = nullCheck(workData);
					if(isNull){
						showNoDataNotes(true,true,true);
					}else{
						updateUtilChartXTeam(workByHour,nonWorkByHour);
						showUtilNotesTeam(workByHour,nonWorkByHour);
					}

			}
		});
	}
	
	function getMoveTimeTeam() {
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/moveTimeTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var move_time = someData[0].move_time;
				getStopTimeTeam(move_time);
			}
		});
	}
		
	function getStopTimeTeam(moveData) {
		var mv_time = moveData;
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/stopTimeTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var stop_time = someData[0].unknown_stop;
				getServiceTimeTeam(mv_time,stop_time);

			}
		});
	}
	
	function getServiceTimeTeam(moveData,stopData) {
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/serviceTimeTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var service_time = someData[0].service_time;
				var stop_time = stopData;
				var move_time = moveData;
				var moveDataArr = [];
				moveDataArr.push(service_time,stop_time,move_time);
				var isNull = nullCheck(moveDataArr);
				if(isNull){
					showNoDataNotes(false,true,true);
				}else{
					updateMoveChartTeam(service_time,stop_time,move_time);
					showMoveNotesTeam(service_time,stop_time,move_time);
				}
			}
		});
	}

	function getServiceAreasTeam() {
		someData = "";
		var svc_depot = "";
		var svc_terminal= "";
		var svc_warehouse = "";
		var svc_parking = "";
		var svc_customer = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/serviceAreasTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
				//console.log(data);
			},
			complete: function(){
				var serviceAreaArr = [];
				for(var i=0;i<someData.length;i++){
					var area = someData[i];
					var fence_type = someData[i].fence_type;
					if(fence_type=='DP'){
						svc_depot = area.service_time;
					}else if(fence_type=='TM'){
						svc_terminal = area.service_time;
					}else if(fence_type=="WH"){
						svc_warehouse = area.service_time;
					}else if(fence_type=="PK"){
						svc_parking = area.service_time;
					}else if(fence_type=="CU"){
						svc_customer = area.service_time;
					}
				}
				updateFenceChartTeam(svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer);
				showFenceNotesTeam(svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer);
				terminateLoader();
			}
		});
	}
	
		function getTravelDistanceTeam() {
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/travelDistanceTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var travelDist = someData[0].travel_distance;
				if(travelDist==null){
					travelDist = 0;
				}
				getVehicleExpenditureTeam(travelDist);
			}
		});
	}
	
	function getVehicleExpenditureTeam(travelDist){
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/vehicleExpenditureTeam/team/' + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var vehicleUsage = someData[0];
				var fuelConsumed = vehicleUsage.fuel_consumption;
				var fuelRemaining = vehicleUsage.fuel_remaining;
				var fuelPrice = vehicleUsage.fuel_price;
				showExpenditureChartTeam(travelDist,fuelConsumed,fuelRemaining,fuelPrice,dateStart,dateEnd);

			}
		});
	
	}
	
	function showExpenditureChartTeam(travelDist,fuelConsumed,fuelRemaining,fuelPrice,dateStart,dateEnd){
		document.getElementById('distPara').innerHTML = "Avg. Total Distance: " + travelDist + "km";
		document.getElementById('fuelConsumePara').innerHTML =  "Avg. Approx. Fuel Consumption: " + (fuelConsumed * travelDist).toFixed(2) + "ℓ" ;
		document.getElementById('fuelPricePara').innerHTML =  "Approx. Avg. Fuel Price: S$" + (travelDist*fuelPrice).toFixed(2) ;	

	}
	
	//Team Compare
	
	function getUtilTimeTeamComp() {
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown-2").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/workTimeTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var work_time = someData[0].work_time;
				var workByHour = (work_time/60).toFixed(2);
				var nonWorkByHour = (24-workByHour).toFixed(2);
				var workData = [];
				workData.push(work_time);
				var isNull = nullCheck(workData);
				if(isNull){
					showNoDataNotesComp(true,true,true);
				}else{
					updateUtilChartXTeamComp(workByHour,nonWorkByHour);
					showUtilNotesTeamComp(workByHour,nonWorkByHour);
				}
				
			}
		});
	}
	
	function getMoveTimeTeamComp() {
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown-2").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/moveTimeTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var move_time = someData[0].move_time;
				getStopTimeTeamComp(move_time);
			}
		});
	}
	 
	function getStopTimeTeamComp(moveData) {
		var mv_time = moveData;
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown-2").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/stopTimeTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var stop_time = someData[0].unknown_stop;
				getServiceTimeTeamComp(mv_time,stop_time);

			}
		});
	}
	
	function getServiceTimeTeamComp(moveData,stopData) {
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown-2").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/serviceTimeTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var service_time = someData[0].service_time;
				var stop_time = stopData;
				var move_time = moveData;
				var moveDataArr = [];
				moveDataArr.push(service_time,stop_time,move_time);
				var isNull = nullCheck(moveDataArr);
				if(isNull){
					showNoDataNotesComp(false,true,true);
				}else{
					updateMoveChartTeamComp(service_time,stop_time,move_time);
					showMoveNotesTeamComp(service_time,stop_time,move_time);
				}

			}
		});
	}

	function getServiceAreasTeamComp() {
		someData = "";
		var svc_depot = "";
		var svc_terminal= "";
		var svc_warehouse = "";
		var svc_parking = "";
		var svc_customer = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown-2").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/serviceAreasTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				for(var i=0;i<someData.length;i++){
					var area = someData[i];
					var fence_type = someData[i].fence_type;
					if(fence_type=='DP'){
						svc_depot = area.service_time;
					}else if(fence_type=='TM'){
						svc_terminal = area.service_time;
					}else if(fence_type=="WH"){
						svc_warehouse = area.service_time;
					}else if(fence_type=="PK"){
						svc_parking = area.service_time;
					}else if(fence_type=="CU"){
						svc_customer = area.service_time;
					}
				} 
				updateFenceChartTeamComp(svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer);
				showFenceNotesTeamComp(svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer);
				terminateLoader();
			}
		});
	}
	
		function getTravelDistanceTeamComp() {
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown-2").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/travelDistanceTeam/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/team/" + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var travelDist = someData[0].travel_distance;
				if(travelDist==null){
					travelDist = 0;
				}
				getVehicleExpenditureTeamComp(travelDist);
			}
		});
	}
	
	function getVehicleExpenditureTeamComp(travelDist){
		someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var team = document.getElementById("vehicle-dropdown-2").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/vehicleExpenditureTeam/team/' + team,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete: function(){
				var vehicleUsage = someData[0];
				var fuelConsumed = vehicleUsage.fuel_consumption;
				var fuelRemaining = vehicleUsage.fuel_remaining;
				var fuelPrice = vehicleUsage.fuel_price;
				showExpenditureChartTeamComp(travelDist,fuelConsumed,fuelRemaining,fuelPrice,dateStart,dateEnd);

			}
		});
	
	}
	
	function showExpenditureChartTeamComp(travelDist,fuelConsumed,fuelRemaining,fuelPrice,dateStart,dateEnd){
		document.getElementById('distPara2').innerHTML = "Avg. Total Distance: " + travelDist + "km";
		document.getElementById('fuelConsumePara2').innerHTML =  "Avg. Approx. fuel consumption: " + (fuelConsumed * travelDist).toFixed(2) + "ℓ" ;
		document.getElementById('fuelPricePara2').innerHTML =  "Avg. Approx. Fuel Consumptio S$" + (travelDist*fuelPrice).toFixed(2) ;	

	}
	

	function minusDate(date1,date2){
		var epochDay = 86400000;
		var date1 = new Date(date1);
		var date2 = new Date(date2);
		return (date2-date1)/86400000;	
	}

	function getRouteURLs(vehicleResourceData) {
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var tsStart = ( moment(dateStart).unix() )*1000;
		var tsEnd = ( moment(dateEnd).unix() )*1000;
		//to convert unix value to secs and then to hours
		var hours = (tsEnd - tsStart)/1000/3600;
		var vehicle = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/distance/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/vehicle/" + vehicle,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete:  function(){
				getDistances(someData,vehicleResourceData);
			}
		});
	}
	
	//NEW FEATURE 15-03-2018
	function getSpecificFenceAreas(){
		var someData = "";
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var tsStart = ( moment(dateStart).unix() )*1000;
		var tsEnd = ( moment(dateEnd).unix() )*1000;
		//to convert unix value to secs and then to hours
		var hours = (tsEnd - tsStart)/1000/3600;
		var vehicle = document.getElementById("vehicle-dropdown").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/actualFenceAreas/dateStart/' + dateStart + '/dateEnd/' + dateEnd +  '/vehicle/' + vehicle,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				console.log(data);
				getResultsFromAreas(data);
				//
			},
			complete:  function(data){
				
			}
		});
	}
	
	function getResultsFromAreas(data){
		var strData = JSON.stringify(data);
		console.log("STRData: " + strData);	
		localStorage.setItem("specificAreasData",strData);
	}

	function getRouteURLsComp(vehicleResourceData) {
		var dateStart = document.getElementById("filterCal").value;
		var dateEnd = document.getElementById("filterCal2").value;
		var tsStart = ( moment(dateStart).unix() )*1000;
		var tsEnd = ( moment(dateEnd).unix() )*1000;
		//to convert unix value to secs and then to hours
		var hours = (tsEnd - tsStart)/1000/3600;
		var vehicle = document.getElementById("vehicle-dropdown-2").value;
		$.ajax({
			url : 'http://dev.logistics.lol:' + port + '/distance/dateStart/' + dateStart + "/dateEnd/" + dateEnd +  "/vehicle/" + vehicle,
			type : 'GET',
			dataType:'json',
			success : function(data) {              
				someData = data;
			},
			complete:  function(){
				getDistancesComp(someData,vehicleResourceData);
			}
		});
	}
	
	function getDistances(routeURLs,vehicleResourceData) {
		var distanceArr = [];
		var distance = 0;
		var arrLen = routeURLs.length-1;
		for(var x=0;x<routeURLs.length;x++){
			(function(x){
			var urlStr = routeURLs[x];
				$.ajax({
					url : urlStr,
					type : 'GET',
					dataType:'json',
					success : function(data) {              
						distance  = data.route_summary.total_distance;
						distanceArr.push(distance);
					},
					complete:  function(){
						if(x==routeURLs.length-1){
							getTotalDistance(distanceArr,vehicleResourceData);
						}
					}
				});
			})(x);
		}
	}
	
	function getDistancesComp(routeURLs,vehicleResourceData) {
		var distanceArr = [];
		var distance = 0;
		var arrLen = routeURLs.length-1;
		for(var x=0;x<routeURLs.length;x++){
			(function(x){
			var urlStr = routeURLs[x];
				$.ajax({
					url : urlStr,
					type : 'GET',
					dataType:'json',
					success : function(data) {              
						distance  = data.route_summary.total_distance;
						distanceArr.push(distance);
					},
					complete:  function(){
						if(x==routeURLs.length-1){
							getTotalDistanceComp(distanceArr,vehicleResourceData);
						}
					}
				});
			})(x);
		}
	}

	
	function getTotalDistance(distanceArr,vehicleResourceData){
		var total = 0;
		for(var i in distanceArr) { 
			total += distanceArr[i]; 
		}
		var vehicleUsage = vehicleResourceData[0];
		var totalDistance = total/1000;
		var fuelRemaining = vehicleUsage.fuel_remaining;
		document.getElementById('distPara').innerHTML = "Total Distance: " +(totalDistance).toFixed(2) + "km";
		if(total>0 && vehicleUsage){
			var fuelConsumed = vehicleUsage.fuel_consumption;
			var fuelRemaining = vehicleUsage.fuel_remaining;
			var fuelPrice = vehicleUsage.fuel_price;
			var tyreWear = vehicleUsage.tyre_wear;
			document.getElementById('fuelConsumePara').innerHTML =  "Approx. fuel consumption: " + (fuelConsumed * totalDistance).toFixed(2) + "ℓ" ;
			document.getElementById('fuelPricePara').innerHTML =  "Approx. S$" + (totalDistance*fuelPrice).toFixed(2) ;
			document.getElementById('tyreLifePara').innerHTML =  "Approx. tyre life: " + (tyreWear - totalDistance).toFixed(2) + "km" ;
		}
	}
	
	function getTotalDistanceComp(distanceArr,vehicleResourceData){
		var total = 0;
		for(var i in distanceArr) { 
			total += distanceArr[i]; 
		}
		var vehicleUsage = vehicleResourceData[0];
		var totalDistance = total/1000;
		var fuelRemaining = vehicleUsage.fuel_remaining;
		document.getElementById('distPara2').innerHTML = "Total Distance: " +(totalDistance).toFixed(2) + "km";
		if(total>0 && vehicleUsage){
			var fuelConsumed = vehicleUsage.fuel_consumption;
			var fuelRemaining = vehicleUsage.fuel_remaining;
			var fuelPrice = vehicleUsage.fuel_price;
			var tyreWear = vehicleUsage.tyre_wear;
			document.getElementById('fuelConsumePara2').innerHTML =  "Approx. fuel consumption: " + (fuelConsumed * totalDistance).toFixed(2) + "ℓ" ;
			document.getElementById('fuelPricePara2').innerHTML =  "Approx. S$" + (totalDistance*fuelPrice).toFixed(2) ;
			document.getElementById('tyreLifePara2').innerHTML =  "Approx. tyre life: " + (tyreWear - totalDistance).toFixed(2) + "km" ;
		}
	}
	
/* 	//Compare Util Chart
	function updateUtilChartComp(work,notWork){
	var ctx = document.getElementById("myChart3Comp").getContext('2d');
		var data= {
			labels: ["Working", "Not Working"],
				
			datasets: [{
				  backgroundColor: [
					"#2ecc71",
					"#ff6961"
				  ],
				  data: [work,notWork]
				}]
			
		};
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
					tooltips: {
						callbacks: {
							label: function(tooltipItems,data) {
							var labelData = data.datasets[tooltipItems.datasetIndex];
							var total = parseFloat(labelData.data[0]) + parseFloat(labelData.data[1]);
							var utilPcnt = (parseFloat(labelData.data[0])/total).toFixed(2)*100;
							var nonUtilPcnt = (parseFloat(labelData.data[1])/total).toFixed(2)*100;
							data.datasets[tooltipItems.datasetIndex].data[0] = utilPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[1] = nonUtilPcnt.toFixed(2);
								return data.labels[tooltipItems.index] + 
							" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
		});
	} */
	
	//Individual and Team Util chart
	function updateUtilChartXTeam(work,notWork){
	$('#myChart3').remove(); // this is my <canvas> element
	$('#grid-1').append('<canvas id="myChart3"><canvas>');
	var canvas = document.querySelector('#myChart3');
	var ctx = canvas.getContext('2d');
		var data = {
			labels: ["Working", "Not Working"],
				
			datasets: [{
				  backgroundColor: [
					"#2ecc71",
					"#ff6961"
				  ],
				  data: [work,notWork]
				}]
			
		};
		var workChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
					tooltips: {
						callbacks: {
							label: function(tooltipItems,data) {
							var labelData = data.datasets[tooltipItems.datasetIndex];
							var total = parseFloat(labelData.data[0]) + parseFloat(labelData.data[1]);
							var utilPcnt = (parseFloat(labelData.data[0])/total).toFixed(2)*100;
							var nonUtilPcnt = (parseFloat(labelData.data[1])/total).toFixed(2)*100;
							data.datasets[tooltipItems.datasetIndex].data[0] = utilPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[1] = nonUtilPcnt.toFixed(2);
								return data.labels[tooltipItems.index] + 
							" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
		});	
	}

	function updateUtilChartXTeamComp(work,notWork){
	$('#myChart3Comp').remove(); // this is my <canvas> element
	$('#grid-4').append('<canvas id="myChart3Comp"><canvas>');
	var canvas = document.querySelector('#myChart3Comp');
	var ctx = canvas.getContext('2d');
		var data= {
			labels: ["Working", "Not Working"],
				
			datasets: [{
				  backgroundColor: [
					"#2ecc71",
					"#ff6961"
				  ],
				  data: [work,notWork]
				}]
			
		};
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
					tooltips: {
						callbacks: {
							label: function(tooltipItems,data) {
							var labelData = data.datasets[tooltipItems.datasetIndex];
							var total = parseFloat(labelData.data[0]) + parseFloat(labelData.data[1]);
							var utilPcnt = (parseFloat(labelData.data[0])/total).toFixed(2)*100;
							var nonUtilPcnt = (parseFloat(labelData.data[1])/total).toFixed(2)*100;
							data.datasets[tooltipItems.datasetIndex].data[0] = utilPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[1] = nonUtilPcnt.toFixed(2);
								return data.labels[tooltipItems.index] + 
							" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
		});
	}
	
	function updateMoveChartTeam(service,stationary,move){
	$('#myChart6').remove(); // this is my <canvas> element
	$('#grid-2').append('<canvas id="myChart6"><canvas>');
	var canvas = document.querySelector('#myChart6');
	var ctx = canvas.getContext('2d');
		var data = {
			labels: ["Service Time", "Unknown Stops Time","Travel Time"],
				
			datasets: [{
				  backgroundColor: [
					"#3498db",
					"#ff6961",
					"#2ecc71"
				  ],
				  data: [service,stationary,move]
				}]
		};
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
				tooltips: {
					callbacks: {
						label: function(tooltipItems, data) {
						var labelData = data.datasets[tooltipItems.datasetIndex];
						var total = parseFloat(labelData.data[0]) + parseFloat(labelData.data[1])+ parseFloat(labelData.data[2]);
						var svcPcnt = (parseFloat(labelData.data[0])/total).toFixed(2)*100;
						var stayPcnt = (parseFloat(labelData.data[1])/total).toFixed(2)*100;
						var movePcnt = (parseFloat(labelData.data[2])/total).toFixed(2)*100;
						data.datasets[tooltipItems.datasetIndex].data[0] = svcPcnt.toFixed(2);
						data.datasets[tooltipItems.datasetIndex].data[1] = stayPcnt.toFixed(2);
						data.datasets[tooltipItems.datasetIndex].data[2] = movePcnt.toFixed(2);
							return data.labels[tooltipItems.index] + 
						" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
			
		});
	}
	
	function updateMoveChartTeamComp(service,stationary,move){
	var stop_t = service+stationary;
	$('#myChart6Comp').remove(); // this is my <canvas> element
	$('#grid-5').append('<canvas id="myChart6Comp"><canvas>');
	var canvas = document.querySelector('#myChart6Comp');
	var ctx = canvas.getContext('2d');
		var data = {
			labels: ["Service Time", "Unknown Stops Time","Travel Time"],
				
			datasets: [{
				  backgroundColor: [
					"#3498db",
					"#ff6961",
					"#2ecc71"
				  ],
				  data: [service,stationary,move]
				}]
			
		};
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
				tooltips: {
					callbacks: {
						label: function(tooltipItems, data) {
						var labelData = data.datasets[tooltipItems.datasetIndex];
						var total = parseFloat(labelData.data[0]) + parseFloat(labelData.data[1])+ parseFloat(labelData.data[2]);
						var svcPcnt = (parseFloat(labelData.data[0])/total).toFixed(2)*100;
						var stayPcnt = (parseFloat(labelData.data[1])/total).toFixed(2)*100;
						var movePcnt = (parseFloat(labelData.data[2])/total).toFixed(2)*100;
						data.datasets[tooltipItems.datasetIndex].data[0] = svcPcnt.toFixed(2);
						data.datasets[tooltipItems.datasetIndex].data[1] = stayPcnt.toFixed(2);
						data.datasets[tooltipItems.datasetIndex].data[2] = movePcnt.toFixed(2);
							return data.labels[tooltipItems.index] + 
						" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
			
		});
	}
	// Individual fence chart
/* 	function updateFenceChart(svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer){
		var ctx = document.getElementById("myChart9").getContext('2d');
		var data = {
			labels: ['Depot','Port','Warehouse','Parking','Customer'],
			datasets: [{
				  backgroundColor: [
					"#2ecc71",
					"#3498db",
					"#fdfd96",
					"#ffb347",
					"#ff6961",
				  ],
				  data: [svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer]
				}]
		};
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
					tooltips: {
						callbacks: {
							label: function(tooltipItems, data) {
							var labelData = data.datasets[tooltipItems.datasetIndex];
							var depot = parseFloat(labelData.data[0]);
							var port = parseFloat(labelData.data[1]);
							var warehouse = parseFloat(labelData.data[2]);
							var parking = parseFloat(labelData.data[3]);
							var customer = parseFloat(labelData.data[4]);
							var depotPcnt = (depot/total).toFixed(2)*100;
							var portPcnt = (port/total).toFixed(2)*100;
							var warehousePcnt = (warehouse/total).toFixed(2)*100;
							var parkingPcnt = (parking/total).toFixed(2)*100;
							var customerPcnt = (customer/total).toFixed(2)*100;
							console.log("CUSTOMER!! - " + customer);
							if(depot!=0){}
							data.datasets[tooltipItems.datasetIndex].data[0] = depotPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[1] = portPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[2] = warehousePcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[3] = parkingPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[4] = customerPcnt.toFixed(2);
								return data.labels[tooltipItems.index] + 
							" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
		
		});
	} */
/* 	//Compare individual fence chart
	function updateFenceChartComp(svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer){
		var ctx = document.getElementById("myChart9Comp").getContext('2d');
		var data = {
			labels: ['WULULU!','Port','Warehouse','Parking','Customer'],
			datasets: [{
				  backgroundColor: [
					"#2ecc71",
					"#3498db",
					"#fdfd96",
					"#ffb347",
					"#ff6961",
				  ],
				  data: [svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer]
				}]
		};
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
					tooltips: {
						callbacks: {
							label: function(tooltipItems, data) {
							var depot = parseFloat(labelData.data[0]);
							var port = parseFloat(labelData.data[1]);
							var warehouse = parseFloat(labelData.data[2]);
							var parking = parseFloat(labelData.data[3]);
							var customer = parseFloat(labelData.data[4]);
							var depotPcnt = (depot/total).toFixed(2)*100;
							var portPcnt = (port/total).toFixed(2)*100;
							var warehousePcnt = (warehouse/total).toFixed(2)*100;
							var parkingPcnt = (parking/total).toFixed(2)*100;
							var customerPcnt = (customer/total).toFixed(2)*100;
							if(depot!=0){}
							data.datasets[tooltipItems.datasetIndex].data[0] = depotPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[1] = portPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[2] = warehousePcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[3] = parkingPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[4] = customerPcnt.toFixed(2);
								return data.labels[tooltipItems.index] + 
							" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
		
		});
	} */

	
	function updateFenceChartTeam(svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer){
	$('#myChart9').remove(); // this is my <canvas> element
	$('#grid-3').append('<canvas id="myChart9"><canvas>');
	var canvas = document.querySelector('#myChart9');
	var ctx = canvas.getContext('2d');
		var data = {
			labels: ['Depot','Port','Warehouse','Parking','Customer'],
			datasets: [{
				  backgroundColor: [
					"#2ecc71",
					"#3498db",
					"#fdfd96",
					"#ffb347",
					"#ff6961",
				  ],
				  data: [svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer]
				}]
		};
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
					tooltips: {
						callbacks: {
							label: function(tooltipItems, data) {
							var labelData = data.datasets[tooltipItems.datasetIndex];
							var depot = parseFloat(labelData.data[0]);
							var port = parseFloat(labelData.data[1]);
							var warehouse = parseFloat(labelData.data[2]);
							var parking = parseFloat(labelData.data[3]);
							var customer = parseFloat(labelData.data[4]);
							var total = depot + port + warehouse + parking;
							var depotPcnt = (depot/total).toFixed(2)*100;
							var portPcnt = (port/total).toFixed(2)*100;
							var warehousePcnt = (warehouse/total).toFixed(2)*100;
							var parkingPcnt = (parking/total).toFixed(2)*100;
							var customerPcnt = (customer/total).toFixed(2)*100;
							if(depot!=0){}
							data.datasets[tooltipItems.datasetIndex].data[0] = depotPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[1] = portPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[2] = warehousePcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[3] = parkingPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[4] = customerPcnt.toFixed(2);
								return data.labels[tooltipItems.index] + 
							" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
		
		});
	}
	
		function updateFenceChartTeamComp(svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer){
		$('#myChart9Comp').remove(); // this is my <canvas> element
		$('#grid-6').append('<canvas id="myChart9Comp"><canvas>');
		var canvas = document.querySelector('#myChart9Comp');
		var ctx = canvas.getContext('2d');
		var data = {
			labels: ['Depot','Port','Warehouse','Parking','Customer'],
			datasets: [{
				  backgroundColor: [
					"#2ecc71",
					"#3498db",
					"#fdfd96",
					"#ffb347",
					"#ff6961",
				  ],
				  data: [svc_depot,svc_terminal,svc_warehouse,svc_parking,svc_customer]
				}]
		};
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
					tooltips: {
						callbacks: {
							label: function(tooltipItems, data) {
							var labelData = data.datasets[tooltipItems.datasetIndex];
							var depot = parseFloat(labelData.data[0]);
							var port = parseFloat(labelData.data[1]);
							var warehouse = parseFloat(labelData.data[2]);
							var parking = parseFloat(labelData.data[3]);
							var customer = parseFloat(labelData.data[4]);
							var total = depot + port + warehouse + parking;
							var depotPcnt = (depot/total).toFixed(2)*100;
							var portPcnt = (port/total).toFixed(2)*100;
							var warehousePcnt = (warehouse/total).toFixed(2)*100;
							var parkingPcnt = (parking/total).toFixed(2)*100;
							var customerPcnt = (customer/total).toFixed(2)*100;
							if(depot!=0){}
							data.datasets[tooltipItems.datasetIndex].data[0] = depotPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[1] = portPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[2] = warehousePcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[3] = parkingPcnt.toFixed(2);
							data.datasets[tooltipItems.datasetIndex].data[4] = parkingPcnt.toFixed(2);
								return data.labels[tooltipItems.index] + 
							" : " +  data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index]  +' %';
						}
					}
				}
			},
		
		});
	}
	
	//Notes Functions 20-12-17----------
	
	function convertToHHMM(info) {
		var hrs = parseInt(Number(info));
		var min = Math.round((Number(info)-hrs) * 60);
		return hrs +  " hrs and " + min + " mins"; 
	}
	
	function showUtilNotesTeam(util,nonUtil){		
		var utilConvert = convertToHHMM(util);
		document.getElementById('utilPara').innerHTML = "Working Time: " + utilConvert;	
		var nonUtilConvert = convertToHHMM(nonUtil);
	
		document.getElementById('notUtilPara').innerHTML = "Non Working Time: " + nonUtilConvert ;			

	}
	
	function showNoDataNotes(workHasData,moveHasData,serviceHasData){
		if(workHasData){
			$('#myChart3').remove(); 
			document.getElementById('notUtilPara').innerHTML = "" ;	
			document.getElementById('utilPara').innerHTML = "No Data for this date range";
						
		}
		if(moveHasData){
			$('#myChart6').remove(); 
			document.getElementById('movePara').innerHTML = "No Data for this date range";
			document.getElementById('stopPara').innerHTML = "";
			document.getElementById('svcPara').innerHTML = "" ;		
		}
		if(serviceHasData){
			$('#myChart9').remove(); 
			document.getElementById('depotPara').innerHTML = "No Data for this date range";
			document.getElementById('portPara').innerHTML = ""; 
			document.getElementById('whPara').innerHTML = "";
			document.getElementById('parkPara').innerHTML = ""; 
			document.getElementById('customerPara').innerHTML = "";
		}
	}
	
	function showNoDataNotesComp(workHasData,moveHasData,serviceHasData){
		if(workHasData){
			$('#myChart3Comp').remove(); 
			document.getElementById('notUtilPara2').innerHTML = "" ;	
			document.getElementById('utilPara2').innerHTML = "No Data for this date range";
						
		}
		if(moveHasData){
			$('#myChart6Comp').remove(); 
			document.getElementById('movePara2').innerHTML = "No Data for this date range";
			document.getElementById('stopPara2').innerHTML = "";
			document.getElementById('svcPara2').innerHTML = "" ;		
		}
		if(serviceHasData){
			$('#myChart9Comp').remove(); 
			document.getElementById('depotPara2').innerHTML = "No Data for this date range";
			document.getElementById('portPara2').innerHTML = ""; 
			document.getElementById('whPara2').innerHTML = "";
			document.getElementById('parkPara2').innerHTML = ""; 
			document.getElementById('customerPara2').innerHTML = "";
		}
	}
	
	function showUtilNotesTeamComp(util,nonUtil){
		var utilConvert = convertToHHMM(util);
		document.getElementById('utilPara2').innerHTML = "Working Time: " + utilConvert;	
		var nonUtilConvert = convertToHHMM(nonUtil);
		
		document.getElementById('notUtilPara2').innerHTML = "Non Working Time: " + nonUtilConvert ;	
	}

	
	function showMoveNotesTeam(service,stop,move){
		var moveConvert = convertToHHMM((move/60));

		document.getElementById('movePara').innerHTML = "Travel Time: " + moveConvert;	

		var stopConvert = convertToHHMM((stop/60));
		
		document.getElementById('stopPara').innerHTML = "Unknown Stop Time: " + stopConvert ;

		var svcConvert = convertToHHMM((service/60));
		
		document.getElementById('svcPara').innerHTML = "Service Time: " + svcConvert ;		
	}
	
	function showMoveNotesTeamComp(service,stop,move){
		var moveConvert = convertToHHMM((move/60));

		document.getElementById('movePara2').innerHTML = "Travel Time: " + moveConvert;	

		var stopConvert = convertToHHMM((stop/60));
		
		document.getElementById('stopPara2').innerHTML = "Unknown Stop Time: " + stopConvert ;

		var svcConvert = convertToHHMM((service/60));
		
		document.getElementById('svcPara2').innerHTML = "Service Time: " + svcConvert ;		
	}
	
	
	
	function showFenceNotesTeam(depot,port,warehouse,parking,customer){
		var depotConvert = convertToHHMM((depot/60));
		var portConvert = convertToHHMM((port/60));
		var warehouseConvert = convertToHHMM((warehouse/60));
		var parkingConvert = convertToHHMM((parking/60));
		var customerConvert = convertToHHMM((customer/60));
		var seeMoreURL = "/specific-areas";

		document.getElementById('depotPara').innerHTML = "Depots: " + depotConvert;	
		document.getElementById('portPara').innerHTML = "Ports: " + portConvert; 
		document.getElementById('whPara').innerHTML = "Warehouses: " + warehouseConvert;
		document.getElementById('parkPara').innerHTML = "Parking: " + parkingConvert; 
		document.getElementById('customerPara').innerHTML = "Customer: " + customerConvert;
		document.getElementById('specificAreaPara').innerHTML = "<span style='color:#3498db'><a href=" + seeMoreURL + '> more... </a>' ;
	}
	
	function showFenceNotesTeamComp(depot,port,warehouse,parking,customer){
		var depotConvert = convertToHHMM((depot/60));
		var portConvert = convertToHHMM((port/60));
		var warehouseConvert = convertToHHMM((warehouse/60));
		var parkingConvert = convertToHHMM((parking/60));
		var customerConvert = convertToHHMM((parking/60));

		document.getElementById('depotPara2').innerHTML = "Depots: " + depotConvert;	
		document.getElementById('portPara2').innerHTML = "Ports: " + portConvert; 
		document.getElementById('whPara2').innerHTML = "Warehouses: " + warehouseConvert;
		document.getElementById('parkPara2').innerHTML = "Parking: " + parkingConvert;
		document.getElementById('customerPara2').innerHTML = "Customer: " + customerConvert;		
	}
	
	
	$('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
	  var $this = $(this),
		  label = $this.prev('label');

		  if (e.type === 'keyup') {
				if ($this.val() === '') {
			  label.removeClass('active highlight');
			} else {
			  label.addClass('active highlight');
			}
		} else if (e.type === 'blur') {
			if( $this.val() === '' ) {
				label.removeClass('active highlight'); 
				} else {
				label.removeClass('highlight');   
				}   
		} else if (e.type === 'focus') {
		  
		  if( $this.val() === '' ) {
				label.removeClass('highlight'); 
				} 
		  else if( $this.val() !== '' ) {
				label.addClass('highlight');
				}
		}

	});

	$('.tab a').on('click', function (e) {
	  
	  e.preventDefault();
	  
	  $(this).parent().addClass('active');
	  $(this).parent().siblings().removeClass('active');
	  
	  target = $(this).attr('href');

	  $('.tab-content > div').not(target).hide();
	  
	  $(target).fadeIn(600);
	  
	});
	
	
	/*code for listbox for choosing teams*/
	
	(function () {
    $('#btnRight').click(function (e) {
        var selectedOpts = $('#lstBox1 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#lstBox2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });
    $('#btnAllRight').click(function (e) {
        var selectedOpts = $('#lstBox1 option');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#lstBox2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });
    $('#btnLeft').click(function (e) {
        var selectedOpts = $('#lstBox2 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#lstBox1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });
    $('#btnAllLeft').click(function (e) {
        var selectedOpts = $('#lstBox2 option');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#lstBox1').append($(selectedOpts).clone());
		
        $(selectedOpts).remove();
        e.preventDefault();
    });
}(jQuery));
</script>