<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <a href="/upload" class="w3-bar-item w3-button">Upload Data </a>
  <a href="/col" class="w3-bar-item w3-button">Dashboard </a>
  <a href="/profile" class="w3-bar-item w3-button">Add and Remove Teams </a>
  <a href="/vehicle-profile" class="w3-bar-item w3-button">Vehicle Profile</a>
  <a href="/demarcate" class="w3-bar-item w3-button">Demarcate Areas </a>
  <a href="/flush" class="w3-bar-item w3-button">Flush Company Data</a>
  <a href="/logout" class="w3-bar-item w3-button">Logout </a>
</div>