<!DOCTYPE html>
<html lang="en">


    <% include ../partials/head %>

    <body>

        <% include ../partials/navLogout %>

        <!-- content for about page -->
        <div class="container" id="logout">
            <div class="row">
                <h2 class="text-center">About Page</h2>
                    <div class="col-xs-12">
                        <p> Goodbye.See you again!</p>
                    </div>
            </div>
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>