<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>
	<% include ../partials/scripts %>
	<% include ../partials/nav %>
	
	<body>
	  <div class="wrapper">
		<form class="form-signin" action="signUp" method="POST">       
		  <h2 class="form-signin-heading">Sign Up</h2>
		  <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
		  <input type="password" class="form-control" name="pwd" placeholder="Password" required=""/>
		  <input type="email" class="form-control" name="email" placeholder="user@companyemail.com" required=""/>   		  
		  <select class="form-control" name="company" required="">
			  <option value="" disabled selected hidden>Company Name</option>
			  <option value="AW">Aw Transport</option>
			  <option value="CNP">C&P Logistics</option>
			  <option value="WYN2000">Wyn2000</option>
			  <option value="HUB_LOG">Hub Logistics</option>
			  <option value="REJOICE">Rejoice Containers</option>
			  <option value="TOLL">Toll Logistics</option>
		  </select>
		  <label class="checkbox">
			<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
		  </label>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>   
		</form>
	  </div>
  
    </body>
	

</html>