<!DOCTYPE html>
<html lang="en">


    <% include ../partials/head %>

    <body>
        <% include ../partials/navAbout%>

        <!-- content for about page -->
        <div class="container" id="about">
            <div class="row">
                <h2 class="text-center">About Page</h2>
                    <div class="col-xs-12">
                        <p> Done by COI-SCM</p>
                    </div>
            </div>
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>