<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>
	<% include ../partials/scripts %>
	<% include ../partials/navLogin %>
	
	<body>
	  <div class="wrapper">
		<form class="form-signin" action="change" method="POST">       
		  <h2 class="form-signin-heading">Change Password</h2>
		  <input type="password" class="form-control" name="password" placeholder="Enter new password" required="" autofocus="" />    
		  <br>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>   
		</form>		
	  </div>
    </body>
	

</html>
