<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
	<% include ../partials/scripts %>
	<% include ../partials/areasMap %>
	<% include ../partials/nav %>
	<% include ../partials/sidenav %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
	<div class="containerEx" id="bodyID">
		<div id="map"></div>
	</div>
	<h3 id="result012"></h3>
  </body>
</html>